@*@{
    ViewData["Title"] = "Home Page";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>   
<link href = "~/lib/bootstrap/dist/css/bootstrap.css" rel = "stylesheet" / >  
  
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />   
<link href = "https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel = "stylesheet" / >  
  
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>   
<script src = "https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>    
  <div class = "container" >  
    <br />   
    <div style = "width:90%; margin:0 auto;" >  
    <table id="id" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">    
                <thead>    
                    <tr>    
                        <th>Name</th>    
                        <th>State</th>
                        
                    </tr>    

                </thead>    
                <tbody></tbody>
            </table>   
            </div>     
            </div>    
  
    <script>  
  
    $(document).ready(function() {  
        $("#id").DataTable({  
            "processing": true, // for show progress bar    
            "serverSide": true, // for process server side     
            "ajax": {  
                "url": "https://localhost:7280/api/NationalPark",  
                "type": "GET",  
                "datatype": "application/json"  ,
                

            },  
            "columnDefs": [{  
              
            }],  
            "columns": [  
                { "data": "name", },  
        
                { "data": "state",},  
               
                //    "render": function(data, type, full, meta) { return '<a class="btn btn-info" href="/DemoGrid/Edit/' + full.CustomerID + '">Edit</a>'; }  
               // },  
                //{  
                //    data: null,  
                //    render: function(data, type, row) {  
                //        return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.CustomerID + "'); >Delete</a>";  
                //    }  
                //},  
            ]  
  
        });  
    });  
  
  
function DeleteData(CustomerID) {  
    if (confirm("Are you sure you want to delete ...?")) {  
        Delete(CustomerID);  
    } else {  
        return false;  
    }  
}  
  
  
function Delete(CustomerID) {  
    var url = '@Url.Content("~/")' + "DemoGrid/Delete";  
  
    $.post(url, { ID: CustomerID }, function(data) {  
        if (data) {  
            oTable = $('#example').DataTable();  
            oTable.draw();  
        } else {  
            alert("Something Went Wrong!");  
        }  
    });  
}  
  
</script> *@



@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .cls_childMenu {
        position: absolute;
        right: auto;
    }

    .table-responsive {
        position: initial !important;
    }

    .btn i {
        padding-right: 0px !important;
    }

    .cls_parent {
        padding: 10px !important;
        font-size: 11px !important;
    }
</style>
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="toolbar" id="kt_toolbar">

        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">

            <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">

                <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">Customers</h1>

                <span class="h-20px border-gray-200 border-start mx-4"></span>

                <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">

                    <li class="breadcrumb-item text-muted">
                        <div class="text-muted">Sale Setup</div>
                    </li>

                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-200 w-5px h-2px"></span>
                    </li>
                    <li class="breadcrumb-item text-muted">Customers</li>

                </ul>

            </div>

            <div class="d-flex align-items-center py-1">

                <a href="@Url.Action("Create")" class="btn btn-sm btn-primary" id="kt_toolbar_primary_button">Create</a>

            </div>

        </div>

    </div>
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <!--begin::Card-->
            <div class="card">
                <div class="card-header border-0 pt-6">

                    <div class="card-title">

                        <div class="d-flex align-items-center position-relative my-1">
                            <span class="svg-icon svg-icon-1 position-absolute ms-6">
                                <i class="fas fa-search"></i>
                            </span>
                            <input type="text" data-kt-user-table-filter="search" id="gridSearch" autocomplete="off" class="form-control w-250px ps-14" placeholder="Search" onkeyup="SearchGrid();">
                        </div>
                    </div>

                    <div class="card-toolbar">
                        <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                            <button type="button" class="btn btn-light-primary me-3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                <span class="svg-icon svg-icon-2">
                                    <i class="fas fa-filter"></i>
                                </span>
                                Filter
                            </button>
                            <div class="menu menu-sub menu-sub-dropdown w-300px w-md-325px" data-kt-menu="true">

                                <div class="px-7 py-5">
                                    <div class="fs-5 text-dark fw-bolder">Filter Options</div>
                                </div>
                                <div class="separator border-gray-200"></div>
                                <form id="frm_Filter_Grid">
                                    <div class="px-7 py-5" data-kt-user-table-filter="form">
                                        <div class="mb-6">
                                            <label> Start Date</label>
                                            <div class="position-relative d-flex align-items-center">
                                                <span class="svg-icon position-absolute ms-4 mb-1 svg-icon-2">
                                                    <i class="fas fa-calendar-day"></i>
                                                </span>
                                                <input class="form-control  ps-12 flatpickr-input   cls_flatdatepicker"  type="text" id="txt_Filter_StartDate">
                                            </div>
                                            <div class="fv-plugins-message-container invalid-feedback"></div>
                                        </div>
                                        <div class="mb-6">
                                            <label>End Date</label>
                                            <div class="position-relative d-flex align-items-center">
                                                <span class="svg-icon position-absolute ms-4 mb-1 svg-icon-2">
                                                    <i class="fas fa-calendar-day"></i>
                                                </span>
                                                <input class="form-control   ps-12 flatpickr-input   cls_flatdatepicker"  type="text" id="txt_Filter_EndDate">
                                            </div>
                                            <div class="fv-plugins-message-container invalid-feedback"></div>
                                        </div>
                                        <div class="mb-6">
                                            <label>Status</label>
                                            <select class="form-select  " id="dropdown_Filter_Status" data-control="select2" data-placeholder="Select" data-hide-search="true">
                                                <option value="">Select</option>
                                                <option value="true">Active</option>
                                                <option value="false">In-Active</option>
                                            </select>
                                            <div class="fv-plugins-message-container invalid-feedback"></div>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <button type="reset" class="btn btn-light btn-active-light-primary fw-bold me-2 px-6" onclick="ResetFilter();" data-kt-user-table-filter="reset">Reset</button>
                                            <button type="button" class="btn btn-primary fw-bold px-6" onclick="ApplyFilter();" data-kt-user-table-filter="filter">Apply</button>
                                        </div>

                                    </div>
                                </form>

                            </div>
                        </div>


                    </div>

                </div>
                <div class="card-body pt-0">
                    <div id="tbl_Grid" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="table-responsive">
                            <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="datatable_Grid">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            var message = '@(TempData["ErrorMessage"])';
            var validation = '@(TempData["Validation"])';
            showMessage(message, validation);
            LoadDataTable();
        });

    </script>
    <partial name="_Script" />
}
